.form-control {
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.form-control:focus {
  background: transparent;
  box-shadow: none;
}

.form-control:disabled, .form-control[readonly] {
  background-color: transparent;
  border-bottom: 2px solid #cccccc;
}

.md-form {
  position: relative;
  margin-bottom: 1.5rem;
}

.md-form label {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: #757575;
  position: absolute;
  top: 0.8rem;
  left: 0;
  cursor: text;
}

.md-form label.active {
  -webkit-transform: translateY(-140%);
  -ms-transform: translateY(-140%);
  transform: translateY(-140%);
  font-size: 0.8rem;
}

.md-form .prefix {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  position: absolute;
  width: 3rem;
  font-size: 2rem;
  padding-top: .5rem;
}

.md-form .prefix ~ input, .md-form .prefix ~ textarea {
  margin-left: 3rem;
  width: 92%;
  width: -webkit-calc(100% - 3rem);
  width: calc(100% - 3rem);
}

.md-form .prefix ~ label {
  margin-left: 3rem;
}

.md-form .prefix.active {
  color: @color-primary;
}

@media only screen and (max-width: 992px) {
  .md-form .prefix ~ input {
    width: 86%;
    width: -webkit-calc(100% - 3rem);
    width: calc(100% - 3rem);
  }
}

@media only screen and (max-width: 600px) {
  .md-form .prefix ~ input {
    width: 80%;
    width: -webkit-calc(100% - 3rem);
    width: calc(100% - 3rem);
  }
}

.md-form .btn {
  margin-bottom: 1.5rem;
}

.md-form.form-sm input {
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  font-size: 0.8rem;
  line-height: 0.5;
}

.md-form.form-sm label {
  font-size: 0.9rem;
}

.md-form.form-sm .prefix {
  font-size: 1.5rem;
  top: 0.4rem;
}

.md-form.form-sm .prefix ~ input, .md-form.form-sm .prefix ~ textarea, .md-form.form-sm .prefix ~ label {
  margin-left: 2.2rem;
}

.md-form.input-group {
  padding-left: 1rem;
}

.md-form.input-group::-webkit-input-placeholder {
  color: #999;
  padding-top: 2px;
}

.md-form.input-group:-moz-placeholder {
  color: #999;
  padding-top: 2px;
}

.md-form.input-group::-moz-placeholder {
  color: #999;
  padding-top: 2px;
}

.md-form.input-group::-webkit-input-placeholder {
  color: #999;
  padding-top: 2px;
}

.md-form.input-group::-moz-placeholder {
  color: #999;
  padding-top: 2px;
}

.md-form.input-group:-ms-input-placeholder {
  color: #999;
  padding-top: 2px;
}

.md-form.input-group::placeholder {
  color: #999;
  padding-top: 2px;
}

.form-group {
  display: block;
}

.form-inline fieldset {
  margin-right: 1.5rem;
}

.form-inline .form-group {
  margin-right: 2rem;
}

.form-simple input[type=password]:focus:not([readonly]),
.form-simple input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ff3547;
  -webkit-box-shadow: 0 1px 0 0 #ff3547;
  box-shadow: 0 1px 0 0 #ff3547;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search-md],
input[type=search],
textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #cccccc;
  border-radius: 0;
  outline: none;
  height: 2.2rem;
  width: 100%;
  box-shadow: none;
  box-sizing: content-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input[type=text]:disabled, input[type=text][readonly="readonly"],
input[type=password]:disabled,
input[type=password][readonly="readonly"],
input[type=email]:disabled,
input[type=email][readonly="readonly"],
input[type=url]:disabled,
input[type=url][readonly="readonly"],
input[type=time]:disabled,
input[type=time][readonly="readonly"],
input[type=date]:disabled,
input[type=date][readonly="readonly"],
input[type=datetime-local]:disabled,
input[type=datetime-local][readonly="readonly"],
input[type=tel]:disabled,
input[type=tel][readonly="readonly"],
input[type=number]:disabled,
input[type=number][readonly="readonly"],
input[type=search-md]:disabled,
input[type=search-md][readonly="readonly"],
input[type=search]:disabled,
input[type=search][readonly="readonly"],
textarea:disabled,
textarea[readonly="readonly"] {
  color: rgba(0, 0, 0, 0.46);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.46);
  background-color: transparent;
}

input[type=text]:disabled + label, input[type=text][readonly="readonly"] + label,
input[type=password]:disabled + label,
input[type=password][readonly="readonly"] + label,
input[type=email]:disabled + label,
input[type=email][readonly="readonly"] + label,
input[type=url]:disabled + label,
input[type=url][readonly="readonly"] + label,
input[type=time]:disabled + label,
input[type=time][readonly="readonly"] + label,
input[type=date]:disabled + label,
input[type=date][readonly="readonly"] + label,
input[type=datetime-local]:disabled + label,
input[type=datetime-local][readonly="readonly"] + label,
input[type=tel]:disabled + label,
input[type=tel][readonly="readonly"] + label,
input[type=number]:disabled + label,
input[type=number][readonly="readonly"] + label,
input[type=search-md]:disabled + label,
input[type=search-md][readonly="readonly"] + label,
input[type=search]:disabled + label,
input[type=search][readonly="readonly"] + label,
textarea:disabled + label,
textarea[readonly="readonly"] + label {
  color: rgba(0, 0, 0, 0.46);
  background-color: transparent;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search-md]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea:focus:not([readonly]) {
  border-bottom: 1px solid @color-primary !important;
  box-shadow: 0 1px 0 0 @color-primary !important;
}

input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search-md]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea:focus:not([readonly]) + label {
  color: @color-primary;
}

input[type=text].valid, input[type=text]:focus.valid,
input[type=password].valid,
input[type=password]:focus.valid,
input[type=email].valid,
input[type=email]:focus.valid,
input[type=url].valid,
input[type=url]:focus.valid,
input[type=time].valid,
input[type=time]:focus.valid,
input[type=date].valid,
input[type=date]:focus.valid,
input[type=datetime-local].valid,
input[type=datetime-local]:focus.valid,
input[type=tel].valid,
input[type=tel]:focus.valid,
input[type=number].valid,
input[type=number]:focus.valid,
input[type=search-md].valid,
input[type=search-md]:focus.valid,
input[type=search].valid,
input[type=search]:focus.valid,
textarea.valid,
textarea:focus.valid {
  border-bottom: 1px solid #00C851;
  box-shadow: 0 1px 0 0 #00C851;
}

input[type=text].valid + label:after, input[type=text]:focus.valid + label:after,
input[type=password].valid + label:after,
input[type=password]:focus.valid + label:after,
input[type=email].valid + label:after,
input[type=email]:focus.valid + label:after,
input[type=url].valid + label:after,
input[type=url]:focus.valid + label:after,
input[type=time].valid + label:after,
input[type=time]:focus.valid + label:after,
input[type=date].valid + label:after,
input[type=date]:focus.valid + label:after,
input[type=datetime-local].valid + label:after,
input[type=datetime-local]:focus.valid + label:after,
input[type=tel].valid + label:after,
input[type=tel]:focus.valid + label:after,
input[type=number].valid + label:after,
input[type=number]:focus.valid + label:after,
input[type=search-md].valid + label:after,
input[type=search-md]:focus.valid + label:after,
input[type=search].valid + label:after,
input[type=search]:focus.valid + label:after,
textarea.valid + label:after,
textarea:focus.valid + label:after {
  content: attr(data-success);
  color: #00C851;
  opacity: 1;
}

input[type=text].invalid, input[type=text]:focus.invalid,
input[type=password].invalid,
input[type=password]:focus.invalid,
input[type=email].invalid,
input[type=email]:focus.invalid,
input[type=url].invalid,
input[type=url]:focus.invalid,
input[type=time].invalid,
input[type=time]:focus.invalid,
input[type=date].invalid,
input[type=date]:focus.invalid,
input[type=datetime-local].invalid,
input[type=datetime-local]:focus.invalid,
input[type=tel].invalid,
input[type=tel]:focus.invalid,
input[type=number].invalid,
input[type=number]:focus.invalid,
input[type=search-md].invalid,
input[type=search-md]:focus.invalid,
input[type=search].invalid,
input[type=search]:focus.invalid,
textarea.invalid,
textarea:focus.invalid {
  border-bottom: 1px solid #F44336;
  box-shadow: 0 1px 0 0 #F44336;
}

input[type=text].invalid + label:after, input[type=text]:focus.invalid + label:after,
input[type=password].invalid + label:after,
input[type=password]:focus.invalid + label:after,
input[type=email].invalid + label:after,
input[type=email]:focus.invalid + label:after,
input[type=url].invalid + label:after,
input[type=url]:focus.invalid + label:after,
input[type=time].invalid + label:after,
input[type=time]:focus.invalid + label:after,
input[type=date].invalid + label:after,
input[type=date]:focus.invalid + label:after,
input[type=datetime-local].invalid + label:after,
input[type=datetime-local]:focus.invalid + label:after,
input[type=tel].invalid + label:after,
input[type=tel]:focus.invalid + label:after,
input[type=number].invalid + label:after,
input[type=number]:focus.invalid + label:after,
input[type=search-md].invalid + label:after,
input[type=search-md]:focus.invalid + label:after,
input[type=search].invalid + label:after,
input[type=search]:focus.invalid + label:after,
textarea.invalid + label:after,
textarea:focus.invalid + label:after {
  content: attr(data-error);
  color: #F44336;
  opacity: 1;
}

input[type=text] + label:after,
input[type=password] + label:after,
input[type=email] + label:after,
input[type=url] + label:after,
input[type=time] + label:after,
input[type=date] + label:after,
input[type=datetime-local] + label:after,
input[type=tel] + label:after,
input[type=number] + label:after,
input[type=search-md] + label:after,
input[type=search] + label:after,
textarea + label:after {
  display: block;
  content: "";
  position: absolute;
  top: 65px;
  opacity: 0;
  -webkit-transition: .2s opacity ease-out, .2s color ease-out;
  transition: .2s opacity ease-out, .2s color ease-out;
}

input[type=text].input-alternate,
input[type=password].input-alternate,
input[type=email].input-alternate,
input[type=url].input-alternate,
input[type=time].input-alternate,
input[type=date].input-alternate,
input[type=datetime-local].input-alternate,
input[type=tel].input-alternate,
input[type=number].input-alternate,
input[type=search-md].input-alternate,
input[type=search].input-alternate,
textarea.input-alternate {
  padding: 0 15px;
  height: 2.1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  font-size: 0.875rem;
  border-bottom: 0;
  -webkit-transition: none !important;
  transition: none !important;
}

input[type=text].input-alternate:hover, input[type=text].input-alternate:focus,
input[type=password].input-alternate:hover,
input[type=password].input-alternate:focus,
input[type=email].input-alternate:hover,
input[type=email].input-alternate:focus,
input[type=url].input-alternate:hover,
input[type=url].input-alternate:focus,
input[type=time].input-alternate:hover,
input[type=time].input-alternate:focus,
input[type=date].input-alternate:hover,
input[type=date].input-alternate:focus,
input[type=datetime-local].input-alternate:hover,
input[type=datetime-local].input-alternate:focus,
input[type=tel].input-alternate:hover,
input[type=tel].input-alternate:focus,
input[type=number].input-alternate:hover,
input[type=number].input-alternate:focus,
input[type=search-md].input-alternate:hover,
input[type=search-md].input-alternate:focus,
input[type=search].input-alternate:hover,
input[type=search].input-alternate:focus,
textarea.input-alternate:hover,
textarea.input-alternate:focus {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08) !important;
  border-bottom: 0;
}

.pagination a {
  background-color: transparent;
}

.pagination .active a {
  border-radius: 2px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.pagination .active a:hover {
  color: #fff;
}

.pagination.pagination-circle a {
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
}

.pagination.pagination-circle a:hover {
  border-radius: 50%;
}

.pagination.pagination-circle .active a {
  border-radius: 50%;
}

.pagination a {
  border: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.pagination a:hover {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: #eee;
}

.pagination a:focus {
  background-color: transparent;
}

.dropdown .dropdown-menu .dropdown-item {
  padding: .5rem;
  margin-left: 0;
  font-size: .9rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
  color: #ffffff;
  background-color: @color-primary;
  border-color: @color-primary;
}

.btn-default {
  color: #fff;
  background-color: @color-primary;
  border-color: @color-primary;
}

.btn-default[disabled],
.btn-default[disabled]:hover {
  background-color: #e6e6e6;
  color: #535f70;
}

#oe_main_menu_navbar .o_menu_systray a[data-action="edit"], #oe_main_menu_navbar .o_menu_systray a[data-action="translate"] {
  background-color: transparent;
}

.input-group .form-control:not(:first-child):not(:last-child) {
  margin-top: 0px;
  border-top: 1px solid #cccccc;
}

div.text-info.oe_subdescription {
  color: #989494;
}

.text-muted {
  color: #989494;
}

.o_website_rating_static .fa {
  font-size: 22px;
  padding: 3px;
}

.o_website_rating_static {
  color: @color-primary;
}

#products_grid_before > h3 {
  margin: 0;
  padding: 12px;
  background: @color-primary;
  color: #FFF;
}

#products_grid_before {
  h4.title-block {
    margin: 0px;
  }
  #o_shop_collapse_category {
    li {

      &.active {
        a {
          background-color: transparent !important;
          color: @color-primary;
        }
      }
      &:hover {
        a {
          color: @color-primary;
        }
      }
      a {
        width: 89%;
        font-weight: bold;
        padding: 9px;
        -webkit-transition: 0.4s all ease 0s;
        -o-transition: 0.4s all ease 0s;
        transition: 0.4s all ease 0s;

        &:hover {
        }
      }
    }
  }
}

#wrapwrap #products_grid_before > ul > li > a {
  font-size: 15px;
}

#o_shop_collapse_category > li > div.r_menu > ul > li > i {
  position: absolute;
  right: 20px;
  top: 14px;
}

#o_shop_collapse_category .nav-pills > li.active > a,
#o_shop_collapse_category .nav-pills > li.active > a:focus,
#o_shop_collapse_category .nav-pills > li.active > a:hover {
  color: #222;
  background-color: transparent !important;
}

pill_menu li {
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
  padding: 5px 0px !important;
}

#o_shop_collapse_category > li > div > ul > li {
  border-bottom: none !important;
}

h4.title-block span {
  padding: 17px 2px;
  font-size: 22px;
  color: @color-primary;
  display: block;
  text-transform: none;
  position: relative;
}

.o_website_rating_card_container table.o_website_rating_progress_table .o_website_rating_table_progress .o_rating_progressbar {
  background-color: @color-primary;
}

.o_rating_star_card .stars {
  color: @color-primary;
}

.label-default[href]:hover, .label-default[href]:focus,
.label-default {
  background-color: @color-primary;
}

.badge {
  background-color: @color-primary;
}

#product_description_reviews .nav-tabs li.active a {
  border-top: none;
  background: #fff;
  border-bottom-color: transparent;
}

#product_description_reviews .nav-tabs li.active {
  margin-top: -5px;
  border-top: 5px solid @color-primary;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background: #fff;
  color: #000;
  border-bottom-color: transparent;
}

textarea {
  -webkit-box-shadow: none !important;
  background-color: transparent;
  border: none !important;
  border-bottom: 1px solid #cccccc !important;
  border-radius: 0;
  outline: none;
  width: 100%;
  box-shadow: none !important;
  box-sizing: content-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

textarea:focus {
  border-bottom: 1px solid #337ab7;
  box-shadow: 0 1px 0 0 #337ab7;
}

.pagination.form-inline.o_website_sale_search {
  border: none;
}

.js_add_cart_variants input[type=radio], .js_add_cart_variants input[type=checkbox],
.js_attributes input[type=radio], .js_attributes input[type=checkbox] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[data-toggle=buttons] > .btn input[type=radio], [data-toggle=buttons] > .btn input[type=checkbox], [data-toggle=buttons] > .btn-group > .btn input[type=radio], [data-toggle=buttons] > .btn-group > .btn input[type=checkbox] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.js_add_cart_variants input[type=checkbox]:checked + label:before,
.js_attributes input[type=checkbox]:checked + label:before {
  border-right: 2px solid @color-primary;
  border-bottom: 2px solid @color-primary;
}

.js_add_cart_variants input[type=checkbox].filled-in:checked + label:before,
.js_attributes input[type=checkbox].filled-in:checked + label:before {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.js_add_cart_variants input[type=checkbox].filled-in:checked + label:after,
.js_attributes input[type=checkbox].filled-in:checked + label:after {
  background-color: #33b5e5;
  border-color: #33b5e5;
}

.js_add_cart_variants [type=radio] + label, .js_add_cart_variants [type=checkbox] + label,
.js_attributes [type=radio] + label, .js_attributes [type=checkbox] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

#js_product_style {
  input.js_variant_change_full.js_variant_change {
    position: absolute;
    width: 100%;
  }
}
.modal-body {
  input.js_variant_change_full.js_variant_change {
    position: absolute;
    width: 100%;
  }
}

#js_product_style > ul > li > ul > li > label > input,
#radio-option {
  input[type="checkbox"] {
    position: absolute;
    width: 100%;
  }
}

#js_product_style > label > input {
  position: absolute;
  width: 100%;
}

.js_add_cart_variants [type=radio], .js_add_cart_variants [type=checkbox],
.js_attributes [type=radio], .js_attributes [type=checkbox] {
  opacity: 0;
  z-index: 50;
  height: 22px;
}

.js_add_cart_variants [type=checkbox]:checked + label:before,
.js_attributes [type=checkbox]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent @color-primary @color-primary transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.js_add_cart_variants [type=checkbox] + label:before,
.js_attributes [type=checkbox] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #8a8a8a;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: .2s;
  transition: .2s;
}

.js_add_cart_variants [type=radio] + label,
.js_attributes [type=radio] + label {
  -webkit-transition: .28s ease;
  transition: .28s ease;
}

.js_add_cart_variants [type=radio] + label, .js_add_cart_variants [type=checkbox] + label,
.js_attributes [type=radio] + label, .js_attributes [type=checkbox] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.js_add_cart_variants [type=radio]:checked + label:before,
.js_attributes [type=radio]:checked + label:before {
  border-color: transparent;
}

.js_add_cart_variants [type=radio] + label:after, .js_add_cart_variants [type=radio] + label:before,
.js_attributes [type=radio] + label:after, .js_attributes [type=radio] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  -webkit-transition: .28s ease;
  transition: .28s ease;
}

.js_add_cart_variants [type=radio]:checked + label:after,
.js_attributes [type=radio]:checked + label:after {
  border-color: @color-primary;
  background-color: @color-primary;
  z-index: 0;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.js_add_cart_variants [type=radio] + label:after, .js_add_cart_variants [type=radio] + label:before,
.js_attributes [type=radio] + label:after, .js_attributes [type=radio] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  -webkit-transition: .28s ease;
  transition: .28s ease;
}

[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.css_attribute_color {
  height: 20px;
  width: 20px;
}

#user-table tr:first-child td {
  border-top: none;
}

.oe_search input[type=text] {
  background: #efefef;
  border: none;
}

.oe_search input[type=text]:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}

.oe_website_spinner .form-control {
  padding: 6px 2px !important;
}

#products_grid_before .attr-list ul label.css_attribute_color {
  width: 36px;
  height: 36px;
  margin: 0;
  border-radius: 50%;
  transition: .3s all;
  border: 2px solid #ccc;
}

.css_attribute_color [type=radio], .css_attribute_color [type=checkbox] {
  opacity: 0;
  z-index: 50;
  left: 0;
  position: relative;
  height: 22px;
  width: auto;
}

.css_attribute_color.active {
  border: 2px solid @color-primary !important;
}

.css_attribute_color.active input {
  margin: 8px;
}

#o_shop_collapse_category .fa-chevron-right,
#o_shop_collapse_category .fa-chevron-down {
  position: absolute;
  right: 20px;
  top: 13px;
  z-index: 400;
}

#products_grid_before #o_shop_collapse_category li a {
  width: 100%;
}

#o_shop_collapse_category {
  border: 1px solid @color-primary;
  margin-top: 0px !important;
  padding-bottom: 15px;
}

.breadcrumb {
  padding: 4px 15px;
}

#product_details > div.oe_share.s_share > h2 > a.oe_share_google.share_buttons > i:before {
  content: "\f0d5" !important;
}

#product_details > div.oe_share.s_share > h2 > a.oe_share_facebook.share_buttons > i:before {
  content: "\f09a";
}

.oe_grid.oe_product form {
  border: 1px solid #f1f1f1;
  position: relative;
  width: 100%;
  height: 100%;
}

.oe_product {
  border: none !important;
  padding: 0px 8px;
  margin-bottom: 16px;
}

#products_grid_before #o_shop_collapse_category li a {
  width: 100%;
}

.brand_list input {
  position: absolute;
  width: 100%;
}
